# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
/Code/CR_WB_WebPage/dist/
/Code/CR_WB_WebPage/build/
/Code/RMI_Contract/build/
/Code/CustomPersistanceUnit/build/
/Code/RMI_Contract/dist/
/Code/InventoryRMI_API/dist/